/* Base Website Layout */
/* res <= xxs */
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F4F4F4;
  margin-left: auto;
  height: 0%;
  padding-left:0.5 rem;
  padding-right:0.5 rem;
  z-index: 0;
  overflow: auto;
}

/*Responsive Design --> Media Queries*/
  /*xs*/
  @media (min-width: 475px){
    /*Scroll Bar*/
      .overflowHidden{
        overflow: hidden;
        height: 100%;
      }
      .overflowShow{
        overflow: auto;
        height: 100vh;
      }
    /*HERO SECTION*/
        /*Navigation Bar*/
        .navContainer{
          /*On-Click: width 100% position: sticky*/
        width:100%;
        height: 100%;
        padding-top: 0;
        margin-bottom: 0vh;
        display: flex;
        overflow-y: hidden;
        flex-direction: column;
        align-items: flex-end;
        z-index: 4;
      }
      .navContainer ul{
        flex-direction: column;
        list-style: none;
        /*On-Click: fixed for sticky*/
        /*do fixed for stick */
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #292727;
        z-index: 100;
        transform: translateY(-100%);
      }
      .navContainer li{
        padding: 5%;
        padding-left: 15%;
        height: 4%;
        display: flex;
        font-size: 155%;
        background-color: #292727;
        z-index: 5;
        
      } .navContainer li:hover{
        background-color: #3a3737;
        color:#FBEED7;
        cursor: pointer;
        z-index: 5;
      }
      }.navContainer a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color:#FBEED7;
        z-index: 100;
      }
    .navContainer a.active-link{
      color: #FBEED7;
    }

      ul.open{
        display:flex;
        z-index: 5;
        /*FIX THIS WHAT THE HELL MAN*/
        transition: transform 750ms ease-in-out;
        transform: translateY(0%);
      }
      div.open{
        display: flex;
        z-index: 3;
        position: static;
      }
      /*Overlay; Not in Visible Use */
      #Overlay.open{
        display: flex;
        z-index: 2;
        overflow: hidden;
        overflow-y: hidden;
      }
      #Overlay{
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        top: 0;
        left: 0;
        position: fixed;
        display: none;
        flex-direction: column;
        z-index: 2;
        align-items: end;
        background-color: rgba(0,0,0,0.5);
      }
        /*Mobile Nav(On-Click)*/
        .close-Button{
          display: flex;
          flex-direction: column;
          padding-top: 20%;
          align-items: end;
          padding-right: 12%;
          padding-bottom: 10%;
          
        }
        .close-Button span:nth-child(1){
          height: 0.3rem;
          width: 9%;
          background-color: #FBEED7;
          border-radius: 0.5rem;
          transform: translateY(-13px) rotate(45deg);
          cursor: pointer;
        }
        .close-Button span:nth-child(2){
          height: 0.3rem;
          width: 9%;
          background-color: #FBEED7;
          border-radius: 0.5rem;
          transform: translateY(-18px) rotate(-45deg);
          cursor: pointer;
        }
        /* .close-Button:hover{
          cursor: pointer;
        } */
        .hamburgerIconBackground{
          width: 100vw;
          height: 75px;
          background-color: #161616;
          display: flex;
          margin:0;
          position: absolute;
          justify-content: end;
          padding-bottom: 10%;
        }
        .hamburgerIcon{
          /*If you delete display, the bar won't show*/
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 2.25rem;
          height: 30px;
          padding-top: 10%;
          margin-right: 12%;
        }.hamburgerIcon span {
          height: 0.4rem;
          width: 120%;
          background-color: #FBEED7;
          border-radius: 0.5rem;
        }
        
        .hamburgerIcon:hover{
          cursor: pointer;
        }
      .heroContainer{
        background-color: #161616;
        color: #FBEED7;
        font-size: 2.0em;
        padding: 10%;
        margin: auto;
        height: 65%;
        padding-top: 30%;
        
      }.heroTitleThin{
        font-size: 2.0em;
      }.heroDisc{
        font-size: 0.6em;
        margin: 5px;
        margin-top: 6%;
        letter-spacing: 5px;
      }
      /*Start Button*/
      .startButton button{
        color: #161616;
        font-size: 0.5em;
        border-radius: 35px;
        width: 300px;
        height: 45px;
        margin-top: 6%;
        margin-bottom: 4%;
      }
    /*ABOUT SECTION*/  
    .aboutContainer{
      height: 80%;
      background-color: #292727;
      padding-top: 20%;
      padding-bottom: 20%;
    }.aboutTitle{
      font-size: 1.2em;
      text-align: center;
      background-color: #292727;
      color:#FBEED7;
    }.aboutSubTitle{
      text-align: center;
      margin: 4%;
      font-size: 1.0em;
      color: #F4F4F4;
    }.aboutDisc{
      color: #F4F4F4;
      margin-right: 6%;
      margin-left: 6%;
      font-size: 1.0em;
      text-align: center;
    }
  /*CAROUSEL SECTION */
  .carouselContainer{
        background-color: #292727;
        color: #FBEED7;
        font-size: 2.0em;
        height: 60%;
        padding-top: 220%;
  }
  /*FOOTER SECTION*/
  .footerContainer{
    padding: 15%;
    background-color: #F4F4F4;
    text-align: center;
    height: 60%;
    padding-top: 20%;
    padding-bottom: 20%;
  }.footerTitle{
    font-size: 1.6em;
  }.footerSubTitle{
    font-size: 1.2em;
  }.footerEmail{
    font-size: 1.2em;
    padding-top: 5%;
  }
  

  /*Sm*/
  @media (min-width: 640px){
      /*HERO SECTION*/
        /*Navigation Bar*/
        .navContainer{
        width:35%;
        height: 65%;
        background-color: #161616;
        padding-top: 0;
        margin: 0;
        float: right;
        display: flex;
        flex-direction: column;
      }
      .navContainer ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: flex-end;
      }.navContainer li{
        height: 25%;
        padding: 25%;
        display: flex;
        justify-content: center;
        font-size: 1.3em;
      }.navContainer a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color:#FBEED7;
      }.navContainer a:hover{
        color: #c5baa8;
        }
          /*Mobile Nav(On-Click)*/
          #exitButton{
            color:#dc0000;
            display: none;
          }
          #hamburgerIcon{
            color: #FBEED7;

          }
          #hamburgerIcon:hover{
            color: #c5baa8;
            cursor: pointer;
          }
      /*Hero Title*/
      .heroContainer{
        background-color: #161616;
        color: #FBEED7;
        font-size: 2.0em;
        padding: 10%;
        margin: auto;
        height: 65%;
        padding-top: 30%;
      }.heroTitleThin{
        font-size: 2.0em;
      }.heroDisc{
        font-size: 0.6em;
        margin: 5px;
        margin-top: 6%;
        letter-spacing: 5px;
      }
      /*Start Button*/
      .startButton button{
        color: #161616;
        font-size: 0.5em;
        border-radius: 35px;
        width: 300px;
        height: 45px;
        margin-top: 6%;
        margin-bottom: 4%;
      }
      /*ABOUT SECTION*/  
      .aboutContainer{
        height: 80%;
        background-color: #292727;
        padding-top: 20%;
        padding-bottom: 20%;
      }.aboutTitle{
        font-size: 1.2em;
        text-align: center;
        background-color: #292727;
        color:#FBEED7;
      }.aboutSubTitle{
        text-align: center;
        margin: 4%;
        font-size: 1.0em;
        color: #F4F4F4;
      }.aboutDisc{
        color: #F4F4F4;
        margin-right: 6%;
        margin-left: 6%;
        font-size: 1.0em;
        text-align: center;
      }
    /*FOOTER SECTION*/
    .footerContainer{
      padding: 20%;
      background-color: #c32c2c;
      text-align: center;
    }.footerTitle{
      font-size: 1.6em;
    }.footerSubTitle{
      font-size: 1.2em;
    }.footerEmail{
      font-size: 1.2em;
      padding-top: 5%;
    }
  }
  












  /*Md*/
  @media (min-width: 768px){
      /*HERO SECTION*/
        /*Navigation Bar*/
        .navContainer{
          width:35%;
          height: 65%;
          background-color: #161616;
          padding-top: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
        }
        .navContainer ul{
          display: flex;
          flex-direction: column;
          list-style: none;
          justify-content: flex-end;
        }.navContainer li{
          height: 25%;
          padding: 25%;
          display: flex;
          justify-content: center;
          font-size: 1.3em;
        }.navContainer a{
          text-decoration: none;
          display: flex;
          align-items: center;
          color:#FBEED7;
        }.navContainer a:hover{
          color: #c5baa8;
          background-color: #292727;
          padding: 12%;
          border-radius: 0.5rem;
        }
        .navContainer:active{
          background-color: #292727;
        }
            /*Mobile Nav(On-Click)*/
            #exitButton{
              color:#dc0000;
              display: none;
            }
            #hamburgerIcon{
              color: #FBEED7;
              background-color: #161616;
              width: 25%;
              margin-left: 50%;
              padding-bottom: 35%;
              border: none;
              padding-top: 21.5%;
              padding-bottom: 25%;
            }
            #hamburgerIcon:hover{
              color: #c5baa8;
              cursor: pointer;
            }
        /*Hero Title*/
        .heroContainer{
          background-color: #161616;
          color: #FBEED7;
          font-size: 3.0em;
          padding: 10%;
          margin: auto;
          height: 65%;
          padding-top: 30%;
        }.heroTitleThin{
          font-size: 2.0em;
        }.heroDisc{
          font-size: 0.6em;
          margin: 5px;
          margin-top: 6%;
          letter-spacing: 5px;
        }
        /*Start Button*/
        .startButton button{
          color: #161616;
          font-size: 0.5em;
          border-radius: 35px;
          width: 300px;
          height: 45px;
          margin-top: 6%;
          margin-bottom: 4%;
        }
        /*ABOUT SECTION*/  
        .aboutContainer{
          height: 80%;
          background-color: #292727;
          padding-top: 20%;
          padding-bottom: 20%;
        }.aboutTitle{
          font-size: 1.2em;
          text-align: center;
          background-color: #292727;
          color:#FBEED7;
        }.aboutSubTitle{
          text-align: center;
          margin: 4%;
          font-size: 1.0em;
          color: #F4F4F4;
        }.aboutDisc{
          color: #F4F4F4;
          margin-right: 6%;
          margin-left: 6%;
          font-size: 1.0em;
          text-align: center;
        }
      /*FOOTER SECTION*/
      .footerContainer{
        padding: 10%;
        text-align: center;
      }.footerTitle{
        font-size: 1.6em;
      }.footerSubTitle{
        font-size: 1.2em;
      }.footerEmail{
        font-size: 1.2em;
        padding-top: 5%;
      }
  }






  /*Lg*/
  @media (min-width: 1024px){
      /*HERO SECTION*/
      .navContainer{
        width:100%;
        height: 20vh;
        background-color: #161616;
        padding-top: 0;
        margin: 0;
        display: flex;
        justify-content:right;
        box-shadow: none;
        
      }.navContainer::before{
        background-color: #c04b4b;
      }
      .navContainer ul{
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        list-style: none;
        margin-right: 6%;
        display: flex;
        flex-direction: row;
        background-color: #161616;
      }.navContainer li{
        height: 25%;
        padding: 4%;
        display: flex;
        font-size: 1.1em;
      }
      .navContainer a{
        text-decoration: none;
        font-size: 1.4em;
        display: flex;
        align-items: center;
        color:#FBEED7;
      }.navContainer a:hover{
        color: #c5baa8;
        background-color: #292727;
        padding: 12%;
        border-radius: 0.5rem;
      }
      /*Mobile Navigation*/
      #exitButton{
        display: none;
      }
      #hamburgerIcon{
        display: none;
      }
        /*Hero Title*/
    .heroContainer{
      background-color: #161616;
      padding-bottom: 6%;
      padding-top: 0px;
    }.heroTitle{
      color: #FBEED7;
      font-size: 1.0em;
      margin: -1%;
    }.heroTitle{
      padding-top: 5%;
    }.heroTitleThin{
      font-size: 2.0em;
    }.heroDisc{
      font-size: 0.8em;
      margin: 0;
      margin-top: 3%;
      letter-spacing: 5px;
      margin-top: 6%;
    }body{
      margin: 0;
      padding: 0;
    }
  /*ABOUT SECTION*/  
    .aboutContainer{
      height: 80%;
      background-color: #292727;
      padding-top: 10%;
      padding-bottom: 10%;
    }.aboutTitle{
      font-size: 2.0em;
      text-align: center;
      background-color: #292727;
      color:#FBEED7;
    }.aboutSubTitle{
      text-align: center;
      margin: 2%;
      font-size: 1.5em;
      color: #F4F4F4;
    }.aboutDisc{
      font-size: 1.8em;
      padding-top: 2%;
      margin-right: 15%;
      margin-left: 15%;
      padding-bottom: 2%;
    }
  /* Start Button */
  .startButton button{
    color: #161616;
    font-size: 0.5em;
    border-radius: 35px;
    width: 400px;
    height: 75px;
    margin-top: 6%;
    margin-bottom: 5%;
  }
  /*FOOTER SECTION*/
  .footerContainer{
    padding: 2%;
    text-align: center;
  }.footerTitle{
    font-size: 2.0em;
  }.footerSubTitle{
    font-size: 1.2em;
  }.footerEmail{
    font-size: 1.2em;
    padding-top: 2%;
  }
  }
  /*Xl*/
  @media (min-width: 1280px){

  }
  