/* Base Website Layout */
/* res <= xxs */
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #292727;
  margin-left: auto;
  height: 0%;
  padding-left:0.5 rem;
  padding-right:0.5 rem;
  z-index: 0;
  overflow: auto;
}
/*Scroll Bar*/
.overflowHidden{
/*Disables*/
  height: 100%;
  overflow-y: hidden;
  }
  /*Enables*/
  .overflowShow{
  overflow: auto;
  height: 100vh;
      }



/*Responsive Design --> Media Queries*/
  /*xs*/
  @media (min-width: 350px){
    /*HERO SECTION*/
        /*Navigation Bar*/
        .hamburgerContainer{
          /*On-Click: width 100% position: sticky*/
        width:100%;
        height: 100%;
        padding-top: 0;
        margin-bottom: 0vh;
        display: flex;
        overflow-y: hidden;
        flex-direction: column;
        align-items: flex-end;
        z-index: 4;
      }
        .hamburgerContainer ul{
        flex-direction: column;
        list-style: none;
        /*On-Click: fixed for sticky*/
        /*do fixed for stick */
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #292727;
        z-index: 90;
        transition: all .55s ease-in-out;
        transform: translateY(-200vh);
        visibility: hidden;
      }
      .hamburgerContainer li{
        padding-left: 15%;
        height: 20vh;
        display: flex;
        font-size: 155%;    
        z-index: 5;
        width: 100%;
        height: 100%;
        align-items: center;
      } 
      .hamburgerContainer a{
        text-decoration: none;
        padding: 5%;
        display: flex;
        align-items: center;
        background-color: #292727;
        color:#FBEED7;
        z-index: 100;
      }
      .hamburgerContainer a:hover{
        background-color: #3a3737;
        color:#FBEED7;
        cursor: pointer;
        z-index: 3;
      }
      .hamburgerContainer a.active-link{
        color: #FBEED7;
        transition: background-color 0.25s;
      }
      .hamburgerContainer a.active-link:active{
        color: #cec2ae;
        transition: color 0.25s;
      }
      ul.open{
        z-index: 5;
        position: fixed;
        display: flex;
        visibility: visible;
        background-color: #292727;
        transform: translateY(0vh);
        visibility:visible;
      }
      div.open{
        display: flex;
        z-index: 3;
        position: static;
      }
      /*Mobile Nav(On-Click)*/
      #close-Button{
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        align-items: end;
        padding-right: 12%;
        padding-bottom: 10%;
        z-index: 0;
        background-color: #292727;
      }
      #close-Button span:nth-child(1){
        height: 0.3rem;
        width: 8%;
        z-index: 5;
        background-color: #FBEED7;
        border-radius: 0.5rem;
        transform: translateY(-13px) rotate(45deg);
        cursor: pointer;
      }
      #close-Button span:nth-child(2){
        height: 0.3rem;
        width: 8%;
        z-index: 5;
        background-color: #FBEED7;
        border-radius: 0.5rem;
        transform: translateY(-18px) rotate(-45deg);
        cursor: pointer;
      }
      .hamburgerIconBackground{
        width: 100vw;
        height: 75px;
        background-color: #161616;
        display: flex;
        margin:0;
        position: absolute;
        justify-content: end;
        padding-bottom: 10%;
      }
      .hamburgerIcon{
        /*If you delete display, the bar won't show*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 2.25rem;
        height: 30px;
        padding-top: 10%;
        margin-right: 12%;
        z-index: 5;
     }.hamburgerIcon span {
        height: 0.3rem;
        width: 105%;
        background-color: #FBEED7;
        border-radius: 0.5rem;
        z-index: 5;
      } 
      .hamburgerIcon:hover{
        cursor: pointer; 
      }
      .heroContainer{
        background-color: #161616;
        color: #FBEED7;
        font-size: 2.0em;
        padding: 10%;
        margin: auto;
        height: 65%;
        padding-top: 15%; 
      }.heroTitleThin{
        font-size: 2.0em;
      }.heroDisc{
        font-size: 0.6em;
        margin: 5px;
        margin-top: 6%;
        margin-bottom: 6%;
        letter-spacing: 5px;
      }
      /*Start Button*/
      .startButton button{
        color: black;
        background-color: #F4F4F4;
        font-size: 0.5em;
        border-color: #F4F4F4;
        border-radius: 35px;
        border-style: none;
        width: 300px;
        height: 45px;
        margin-top: 6%;
        outline: none;
        margin-bottom: 4%;
        transition: 0.2s ease-in-out;
      }
      .startButton button:hover{
        background-color: #c8c8c8;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }
    /*ABOUT SECTION*/  
    .aboutContainer{
      height: 80%;
      background-color: #292727;
      padding-top: 20%;
      padding-bottom: 20%;
    }.aboutTitle{
      font-size: 1.2em;
      text-align: center;
      background-color: #292727;
      color:#FBEED7;
    }.aboutSubTitle{
      text-align: center;
      margin: 4%;
      font-size: 1.0em;
      color: #F4F4F4;
    }.aboutDisc{
      color: #F4F4F4;
      margin-right: 6%;
      margin-left: 6%;
      font-size: 1.0em;
      text-align: center;
    }
    /*CAROUSEL SECTION */
  .carouselContainer{
        background-color: #292727;
        color: #FBEED7;
        font-size: 2.0em;
        height: 60%;
        padding-top: 220%;
  }
    /*PURPOSE SECTION */
  .discContainer{
    height: 165vh;
    position: absolute;
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
  } .nameContainer{
    font-size: 1.8em;
    display: flex;
    padding: 50px;
    color:#FBEED7;
    position: absolute;
  } .imageContainer{
    width: 300px;
    height: 390px;
    border-radius: 20px;
    position: absolute;
    margin: 250px;
    display: flex;
  }.personalContainer{
    height: fit-content;
    margin-top: 700px;
    font-size: 1.1em;
    /*Fit-Content breaks div for text*/
    width: fit-content;
    display: flex;
    justify-content: center;
  }#introWord{
    padding-bottom: 25px;
    color: #FBEED7;
  }#allWords{
    background-color: #161616;
    border-radius: 12px;
    width: 50%;
    padding-top: 250px;
    padding: 35px;
    color: #F4F4F4;
  }
  /*CONTACT SECTION*/
  .contactContainer{
    padding-top: 12.5%;
    padding-bottom: 100px;
    background-color: #161616;
  }.contactTitle{
    color: #FBEED7;
    font-size: 1.2em;
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 50px;
  }.contactSubTitle{
    color: #FBEED7;
    padding: 15px;
    text-align: center;
    font-size: 1.0em;
  }.formBackground{
    display: inline-block;  
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }.form{
    margin: 0 auto;
    padding: 80px;
  }.formField{
    display: flex;
    flex-wrap: wrap;
    border: none;
  }.formSubTitles{
    color: #FBEED7;
    font-size: 1.1em;
    margin-bottom: 15px;
  }#input, #textArea{
    width: 100%;
    background-color: #F4F4F4;
    margin-bottom: 90px;
    padding: 20px;
    resize: none;
    overflow: hidden;  
    color: #161616;
    font-size: 15px;
    border: 0px;
    border-radius: 25px;
    /* outline: none */
  }#textArea{
    field-sizing: content;
  }#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    font-size: 1.0em; 
    border-radius: 100px;
    border: 0px;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
  }#submit:hover{
    background-color: #c8c8c8;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }#submit a{
    text-decoration: none;
    color: #161616;
  }
    /*FOOTER SECTION*/
  .footerContainer{
    background-color: #F4F4F4;
    text-align: center;
    padding-bottom: 32.5px;
    padding-top: 10px;
    width: 100%;
    bottom: 0px;
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: column;
  }.logoContainer{
    margin: auto;
  }.footerTitle{
    font-size: 1.0em;
  }.footerSubTitle{
    font-size: 1.0em;
  }.footerEmail{
    font-size: 1.2em;
    padding-top: 5%;
  }
}


  /*Sm*/
  @media (min-width: 640px){
    /*HERO SECTION*/
      /*Navigation Bar*/
      .hamburgerContainer li{
        font-size: 200%;    
      } 
      .hamburgerIcon{
        height: 35px;
        padding-top: 8%;
      }.hamburgerIcon span {
        height: 0.3rem;
        width: 140%;
      } 
      .heroContainer{
        font-size: 2.5em;
      }.heroTitleThin{
        font-size: 2.0em;
      }.heroDisc{
        font-size: 0.55em;
      }
      /*Start Button*/
      .startButton button{
        font-size: 0.43em;
      }
    /*ABOUT SECTION*/  
      .aboutTitle{
      font-size: 1.5em;
    }.aboutSubTitle{
      font-size: 1.2em;
    }.aboutDisc{
      font-size: 1.2em;
    }
    /*CAROUSEL SECTION */
    .carouselContainer{
        background-color: #292727;
        color: #FBEED7;
        font-size: 2.0em;
        height: 60%;
        padding-top: 220%;
    }
    /*PURPOSE SECTION */
    .discContainer{
      height: 150vh;
      position: absolute;
      width: 100%;
      margin-top: 20%;
      display: flex;
      justify-content: center;
    } .nameContainer{
      font-size: 1.8em;
      padding: 50px;
      color:#FBEED7;
      position: absolute;
    } .imageContainer{
      width: 375px;
      height: 475px;
      border-radius: 20px;
      position: absolute;
      margin: 300px;
    }.nameContainer{
    font-size: 2.25em;
    padding: 50px;
    padding-bottom: 4;
    color:#FBEED7;
    position: absolute;
  } 
  .personalContainer{
    height: fit-content;
    margin-top: 875px;
    font-size: 1.1em;
    /*Fit-Content breaks div for text*/
    width: fit-content;
    display: flex;
    justify-content: center;
  }#introWord{
    padding-bottom: 25px;
    color: #FBEED7;
  }#allWords{
    background-color: #161616;
    border-radius: 12px;
    width: 50%;
    padding-top: 250px;
    padding: 35px;
    color: #F4F4F4;
  }
  /*CONTACT SECTION*/
  .contactTitle{
    font-size: 1.7em;
  }.contactSubTitle{
    font-size: 1.2em;
    padding: 25px;
  }.form{
    width: 400px;
  }.formSubTitles{
    font-size: 1.2em;
  }#input, #textArea{
    width: 350px;
    font-size: 18px;;
  } #submit{
    height: 50px;
    width: 50%;
    font-size: 1.2em; 
  }
  
  }


  
  /*Md*/
  @media (min-width: 768px){
    /*HERO SECTION*/
        /*Navigation Bar*/
      .hamburgerContainer{
        display: none;      
      }
      .hamburgerIcon{
        display: none;
      }
      .navContainer{
        display: flex;
        width: 100%;
        color: #FBEED7;
        position: absolute;
        flex-direction: row;
        height: 115px;
        background-color: #161616;
        align-items: center;
      }.navContainer ul{
        align-items: flex-end;
        color: #FBEED7;
        display: flex;
        width: 95vw;
        right: 0px;
        justify-content: space-evenly;
      }
      .navContainer li{      
        list-style: none;
        justify-content: center;
        display: flex;
        text-decoration: none;
        height: 40%;
        padding-right: 25px;
        padding-left: 25px;
        color: #FBEED7;
        border-radius: 100px;
        transition: background-color .25s ease-in-out;
        width: 10vw;
      }
      .navContainer a{
        text-decoration: none;
        display: flex;
        font-size: 1.5em;
        cursor: pointer;
        flex-direction: row;
        
      }
      .navContainer li:hover{
        text-decoration: none;
        display: flex;     
        background-color: #3a3737;
        transition: all .25s ease-in-out;
        flex-direction: row;
      }
      .navContainer li:active{
        color:#cec2ae;
        transition: color 0.25s;
      }
      .heroContainer{
        background-color: #161616;
        color: #FBEED7;
        font-size: 3.0em;
        padding: 10%;
        margin: auto;
        height: 65%;
        padding-top: 17.5%; 
      }.heroTitleThin{
        font-size: 2.0em;
      }.heroDisc{
        font-size: 0.55em;
        margin: 5px;
        margin-top: 6%;
        letter-spacing: 5px;
        margin-top: 3%;
        margin-bottom: 1%;
      }
      /*Start Button*/
      .startButton button{
        font-size: 0.425em;
        border-radius: 35px;
        width: 300px;
        height: 45px;
        margin-top: 6%;
        outline: none;
        margin-bottom: 4%;
        transition: 0.2s ease-in-out;
      }
      .startButton button:hover{
        background-color: #c8c8c8;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }
    /*ABOUT SECTION*/  
    .aboutContainer{
      height: 80%;
      background-color: #292727;
      padding-top: 15%;
      padding-bottom: 20%;
    }.aboutTitle{
      font-size: 1.7em;
      text-align: center;
      background-color: #292727;
      color:#FBEED7;
    }.aboutSubTitle{
      text-align: center;
      margin: 4%;
      font-size: 1.5em;
      color: #F4F4F4;
    }.aboutDisc{
      color: #F4F4F4;
      margin-right: 6%;
      margin-left: 6%;
      font-size: 1.3em;
      text-align: center;
    }
    /*CAROUSEL SECTION */
  .carouselContainer{
        background-color: #292727;
        color: #FBEED7;
        font-size: 2.0em;
        height: 60%;
        padding-top: 220%;
  }
  /*CONTACT SECTION*/
  .contactTitle{
    font-size: 1.9em;
    padding-top: 80px;
  }
  .contactSubTitle{
    font-size: 1.3em;
  }.formSubTitles{
    font-size: 1.3em;
  }
}  



  /*Lg*/
  @media (min-width: 1024px){
    /*HERO SECTION*/
        /*Navigation Bar*/
      .hamburgerContainer{
        display: none;      
      }
      .hamburgerIcon{
        display: none;
      }
      .navContainer{
        display: flex;
        width: 100%;
        color: #FBEED7;
        position: absolute;
        flex-direction: row;
        height: 115px;
        align-items: center;
      }.navContainer ul{
        align-items: flex-end;
        color: #FBEED7;
        display: flex;
        width: 95vw;
        margin: auto;
        right: 0px;
        justify-content: space-evenly;
      }
      .navContainer li{      
        justify-content: center;
        display: flex;
        text-decoration: none;
        color: #FBEED7;
        border-radius: 100px;
        transition: background-color .25s ease-in-out;
        width: 10vw;
      }
      .navContainer a{
        text-decoration: none;
        display: flex;
        font-size: 1.5em;
        cursor: pointer;
        flex-direction: row;
        
      }
      .navContainer li:hover{
        text-decoration: none;
        display: flex;     
        background-color: #3a3737;
        transition: all .25s ease-in-out;
        flex-direction: row;
      }
      .navContainer li:active{
        color:#cec2ae;
        transition: color 0.25s;
      }
      .heroContainer{
        background-color: #161616;
        color: #FBEED7;
        font-size: 3.0em;
        padding: 10%;
        margin: auto;
        height: 65%;
        padding-top: 17.5%;
      }.heroTitleThin{
        font-size: 2.0em;
      }.heroDisc{
        font-size: 0.55em;
        margin: 5px;
        margin-top: 3%;
        margin-bottom: 1%;
        letter-spacing: 5px;
      }
    /*ABOUT SECTION*/  
    .aboutContainer{
      height: 80%;
      background-color: #292727;
      padding-top: 10%;
      padding-bottom: 10%;
    }.aboutTitle{
      font-size: 1.8em;
      text-align: center;
      background-color: #292727;
      color:#FBEED7;
    }.aboutSubTitle{
      text-align: center;
      margin: 4%;
      font-size: 1.5em;
      color: #F4F4F4;
    }.aboutDisc{
      color: #F4F4F4;
      margin-right: 6%;
      margin-left: 6%;
      font-size: 1.4em;
      text-align: center;
    }
    /*CAROUSEL SECTION */
  .carouselContainer{
        background-color: #292727;
        color: #FBEED7;
        font-size: 2.0em;
        height: 60%;
        padding-top: 220%;
  }
    /*PURPOSE SECTION */
    .discContainer{
      margin-top: 20%;
    }.nameContainer{
      font-size: 2.5em;
    }.imageContainer{
      width: 400px;
      margin: 315px;
      height: 525px;
    }.personalContainer{
      margin-top: 925px;
      font-size: 1.3em;
    }
  /*CONTACT SECTION*/
  .contactContainer{
    padding-bottom: 200px;
  }
  .contactTitle{
    font-size: 2.5em;
    padding-top: 80px;
  }
  .contactSubTitle{
    font-size: 1.7em;
    padding: 50px;
  }.form{
    width: 540px;
  }.formSubTitles{
    font-size: 1.5em;
  }#input, #textArea{
    width: 500px;
    margin-bottom: 125px;
    font-size: 19px;;
  } #submit{
    height: 55px;
    width: 50%;
    font-size: 1.3em; 
  }
}  
  
  /*Xl*/
  @media (min-width: 1280px){
    /*HERO SECTION*/
    .navContainer{
      width: 100%;
    }
    .navContainer li{
      font-size: 1.25em;
    }
      .heroContainer{
        background-color: #161616;
        color: #FBEED7;
        font-size: 4.0em;
        padding: 10%;
        margin: auto;
        height: 60%;
        padding-top: 11%; 
      }.heroTitleThin{
        font-size: 2.0em;
      }.heroDisc{
        font-size: 0.45em;
        margin: 5px;
        margin-top: 2%;    
        letter-spacing: 5px;
      }
      /*Start Button*/
      .startButton button{
        font-size: 0.35em;
        border-radius: 35px;
        width: 350px;
        height: 50px;
        margin-top: 4%;
        margin-bottom: 0%;
      }
    /*ABOUT SECTION*/  
    .aboutContainer{
      height: 80%;
      background-color: #292727;
      padding-top: 10%;
      padding-bottom: 10%;
    }.aboutTitle{
      font-size: 2.2em;
      text-align: center;
      background-color: #292727;
      color:#FBEED7;
    }.aboutSubTitle{
      text-align: center;
      margin: 2%;
      font-size: 1.7em;
      color: #F4F4F4;
    }.aboutDisc{
      color: #F4F4F4;
      margin-right: 6%;
      margin-left: 6%;
      font-size: 1.5em;
      text-align: center;
    }
    /*CAROUSEL SECTION */
  .carouselContainer{
        background-color: #292727;
        color: #FBEED7;
        font-size: 2.0em;
        height: 60%;
        padding-top: 70%;
  }
    /*CONTACT SECTION*/
  .contactTitle{
    font-size: 2.8em;
    padding-top: 20px;
    margin-top: 60px;;
  }
  .contactSubTitle{
    font-size: 1.8em;
    padding: 60px;
  }.form{
    width: 700px;
  }.formSubTitles{
    font-size: 1.6em;
  }#input, #textArea{
    width: 120%;
    margin-bottom: 150px;
    font-size: 20px;;
  } #submit{
    height: 60px;
    width: 50%;
    font-size: 1.3em; 
  }
      /*PURPOSE SECTION */
    .discContainer{
      margin-top: 12.5%;
    } .nameContainer{
      font-size: 2.8em;
    } .imageContainer{
      width: 450px;
      margin: 350px;
      height: 600px;
    }
    .personalContainer{
      margin-top: 1050px;
      font-size: 1.4em;
    }

} 