/*Adjust Footer */
@media (min-width: 350px){
/*FOOTER SECTION*/
  .footerContainer{
    top: 2050px;
  }
}
@media (min-width: 475px){
  .footerContainer{
    top: 1775px;
  }
}
@media (min-width: 1024px){
  .footerContainer{
    top: 1900px;
  }
}

@media (min-width: 1028px){
  .footerContainer{
    top: 1900px;
  }
}
@media (min-width: 1280px){
  .footerContainer{
    top: 1975px;
  }
}